<a href="#" id="back-top"><i class="fa fa-angle-up fa-2x"></i></a>
<footer class="black_bgcolor text-center">
    <div class="row">
        <div class="col-md-12">
            Copyright © 2017. All rights reserved
        </div>
    </div>
            
</footer>
<!-- <script src="script/footer.js"></script> -->
