<div class="container-fuild" style="height:55px;background-color:#0D2798">
	<img src="./pic/gas-station.png" width="30px" height="30px" style="margin-top: 15px;margin-left: 10px;float:left">
	<div style="float:left;margin-top: 15px">
		<span style="font-size: 20px;font-weight: 700;color:#FFF;margin-top: 15px"> this is header</span>
	</div>
	<!-- <button  class="btn btn-default" id='backbtn' onclick="javascript:history.back();"> <
</button> -->
</div>