#container-header{
    width: 100%;
    height: 50px;
    background-color: rgb(204,0,204);
    text-align: center;
    position: fixed;
    z-index: 999;
    margin-left: 200px;
    line-height: 50px;
}
#container-header button {
    background-color: rgb(204,0,204);
    color: #FFF;
/*    margin-top: 5px;*/
}
#container-header .dropdown {
    width: 300px;
    margin-right: 200px;
}
.sideDateTime {
    border-bottom: 1px solid #ddd;
    color: dimgray;
    box-shadow: 0 2px 10px 0 rgba(72, 70, 70, 0.12);
    height: 110px;

}
.sideDateTime .showTime {
	font-size: 3em;
}
#container-opt{
    position: fixed;
    width: 200px;
    height: 100%;
    /*padding-top: 20px;*/
    left: 0px;
    font-size: 16px;
    background-color:#FFF;
    z-index: 999;
    overflow-x: scroll;
}
#container-main{
    position: absolute;
    width: 100%;
    height: 100%;
}
#container-main-layer{
    margin-top: 50px;
    height: 100%;
}
#container-opt-panel {
    /*margin-top: 50px;*/
}
#container-opt-panel ul{
    list-style-type: none;  
    overflow-y:auto; 
}
#container-opt-panel ul li{
    width: 100%;
    /*text-align: center;*/ 
    /*text-indent: 50px;*/
    text-align: left;
    color: #FFF;
}
#container-opt-panel ul li.titleFunction{
    /*padding: 20px 0;*/
}
#container-opt-panel ul li > a{
    width: 100%;
    padding: 15px 10px;
    display: block;
    color: #333;
}
#container-opt-panel ul li a:hover{
    text-decoration: none;
/*    background-color: #FFF;*/
    border-right: 5px solid #ddd;
}
#container-opt-panel ul li a:active,#container-opt-panel ul li a:focus{
    text-decoration: none;
}
#container-opt-panel ul li span{
    margin-right:15px;
    /*3/29修改*/
    display: inline-block;
    vertical-align:middle;
}
#container-opt-panel ul.subFunction li span{
    margin-right:15px;
    float: right;
}
#container-opt-panel ul li.dropdown ul {
    display: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}
#container-opt-panel ul li.dropdown ul li a {
    text-align: center;
    font-size: 14px;
    padding: 10px 5px;
}
#container-opt-panel ul li.dropdown ul li a:hover {
    border-right: none;
}
#HeaderLogo{
    color: #FFFFFF;
  /*  margin: 0 auto; 
    margin-left: -40px; */
    margin-top: 0px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(204,0,204);
}