<!DOCTYPE html>
<html>
<head>
	<title>心智圖</title>
	<link rel="stylesheet" type="text/css" href="plugin/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./style/s_notice.css">
	<link rel="stylesheet" type="text/css" href="./style/common.css">
</head>
<body>
	<div class="container-fuild" id="notice_border">
		<h1 class="font" id="notice_text">歡迎進入情境教學</h1>
		<h1 class="font" id="notice_text">歡迎進入情境教學</h1>
		<ul>
			<li>請憑著良心作答，拜託不要亂作答</li>
			<li></li>
		</ul>
	</div>

</body>
	
<script src="plugin/jquery/jquery.min.js"></script>
<!-- <script src="script/teach.js"></script> -->
<script src="plugin/bootstrap/js/bootstrap.min.js"></script>
</html>