<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="en-EN" />
    
    <title>JEELIZ FACE FILTER : THREE.JS FACEDEFORM DEMO</title>
    
    <!-- INCLUDE JEELIZ FACEFILTER SCRIPT -->
    <script src="jeelizFaceFilter/dist/jeelizFaceFilter.js"></script>

    <!-- INCLUDE THREE.JS -->
    <script src="jeelizFaceFilter/libs/threejs/v97/three.min.js"></script>

    <!-- INCLUDE JEELIZRESIZER -->
    <script src="jeelizFaceFilter/helpers/JeelizResizer.js"></script>

    <!-- INCLUDE JEELIZTHREEJSHELPER -->
    <script src="jeelizFaceFilter/helpers/JeelizThreejsHelper.js"></script>

    <!-- INCLUDE DEMO SCRIPT -->
    <script src="demo2.js"></script>

    <!-- INCLUDE FORK ME ON GITHUB BANNER -->
    <!-- <script src="jeelizFaceFilter/dappearance/widget.js"></script> -->

    <link rel="stylesheet" href="jeelizFaceFilter/demos/appearance/style.css" type="text/css" />
  </head>
  
  <body onload="main()" style='color: white'>
    <canvas width="2400" height="2400" id='jeeFaceFilterCanvas'></canvas>
  </body>
</html>
 
 
