<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="content-language" content="en-EN" />
        
        <title>JEELIZ FACE FILTER : CANVAS2D FACEDRAW DEMO</title>
        
        <!-- INCLUDE JEELIZ FACEFILTER SCRIPT -->
        <script type="text/javascript" src="jeelizFaceFilter/dist/jeelizFaceFilter.js"></script>

        <!-- INCLUDE DEMO SCRIPT -->
        <script type="text/javascript" src="facedraw.js"></script>

        <!-- INCLUDE FORK ME ON GITHUB BANNER -->
        <script type="text/javascript" src="jeelizFaceFilter/demos/appearance/widget.js"></script>

        <!-- <link rel="stylesheet" href="jeelizFaceFilter/demos/appearance/style.css" type="text/css" /> -->
    </head>
    
    <body onload="main()" style='color: white'>
        <canvas width="600" height="600" id='jeeFaceFilterCanvas'></canvas>
    </body>
</html>
 
 
