<!-- init -->
<!-- <link rel="icon" href="pic/favicon-20180418011017421.ico" type="image/ico" /> -->
<link href="plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="plugin/fontawesome/css/font-awesome.min.css" rel="stylesheet">
<!-- header.html -->
<link href="style/header.css" rel="stylesheet"/>
<!-- footer.html -->
<!-- <link href="style/footer.css" rel="stylesheet"/> -->
<!-- common -->
<link href="style/common.css" rel="stylesheet" />
<!-- index.html -->
<link href="style/index.css" rel="stylesheet"/>
<!-- login.html -->
<link href="style/login.css" rel="stylesheet">
<!-- animate.css -->
<link href="style/animate.css" rel="stylesheet">