html{
	/*background: radial-gradient(ellipse at bottom,#DEDEDE 0%,#C5C5C5 100%); */
	height: 100vh;
}
body{
	margin:0;
	padding: 0;
	min-height: 100%;
	overflow-y: hidden;
	position: relative;
	font-family: Microsoft JhengHei;
	background-image: url(../pic/background2.png);
	background-repeat:no-repeat;
	background-size: 100%;
}
#stage{
	z-index: 2;
	/*animation: example;*/
  	animation-duration: 4s;
  	border-radius: 50%;
  	animation-direction: reverse;
  	background-color: rgba(3,169,244,.5);
  	position: fixed;
  	width: 10vw;
  	height: 10vh;
  	left: -50vw;
  	top:-50vh;
}
/*#boderdiv{
	height: 90vh;
	width: 100vw;
	opacity: 0.1;
	background-color: #ddd;
}*/
#alertdiv{
	z-index: 1;
	height: 45%;
	width: 50%;
	position: absolute;
	top:45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:50px;
	font-weight: bold;
	letter-spacing: 6px;
	text-align: center;
	background-color:rgba(255,255,255,.95);
	border:2px solid #000;
	box-sizing: border-box;
	box-shadow: inset 0 2px 30px rgba(0,0,0,.3);
}
#alertdiv .content{
	position: absolute;
	top:50%;
  	left: 50%;
  	width:90%;
  	transform: translate(-50%, -50%);
}
.arow{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap ;
	height: 90vh;
}
a{
	position: relative;
	width: 300px;
	height: 150px;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateX(0deg);
	transition: 2s;
	margin-left: 50px;
	margin-right: 50px;
	margin:50px 50px;
}
a:hover{
	transform: perspective(500px) rotateX(360deg);
}
a span{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	background: rgba(255,255,255,.85);
	text-transform: uppercase;
	font-size:50px;
	font-weight: bold;
	letter-spacing: 10px;
	transition: 0.5s;
	border:3px solid #000;
	box-sizing: border-box;
	box-shadow: inset 0px 2px 30px rgba(0,0,0,.2);
}
#btn1:hover span{
	color:#fff;
	background: rgba(3,169,244,.9);
}
#btn2:hover span{
	color:#fff;
	background: rgba(169,3,244,.9);
}
#btn3:hover span{
	color:#fff;
	background: rgba(244,169,3,.9);
}
#btn4:hover span{
	color:#fff;
	background: rgba(244,3,169,.9);
}
@keyframes example {
  /*0%   {background-color:white;}*/
  /*25%  {background-color:yellow; left:200px; top:0px;}*/
  /*50%  {background-color:blue; left:200px; top:200px;}*/
  75%  {background-color:white;top:-50vh;left:-50vw;width: 200vw;height: 200vh}
  /*50% {background-color:white;top:-50vh;left:-50vw;width: 200vw;height: 200vh }*/
}
a span:nth-child(1){
	transform: rotateX(360deg) translateZ(75px);
}
a span:nth-child(2){
	transform: rotateX(270deg) translateZ(75px);
}
a span:nth-child(3){
	transform: rotateX(180deg) translateZ(75px);
}
a span:nth-child(4){
	transform: rotateX(90deg) translateZ(75px);
}
img:active{
	/*width: 85px;*/
	box-sizing: border-box;
	border-radius: 50rem;
	box-shadow: inset 20px 20px 100px rgba(0,0,0,.2);
}