body
{
	font-family: Microsoft JhengHei;
}

#logindiv
{
	width:330px;
	height:240px;
	/*background-color: blue;*/
	margin-left:auto;
	margin-right: auto;
	margin-top: 10%;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 6px #cccccc;
}

#loginheader
{	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 100%;
	height:50px;
	background-color: #0D2798;
	font-size: 18px;
	font-weight: 900;
	color:#FFF;
	/*text-align: center;*/
	padding-top: 10px;
	padding-left: 10px;
}

#user_id
{
	margin-top: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

}

#user_pw
{
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.user
{
	width: 90%;
	height:50px;
	margin-left:auto;
	margin-right: auto;
}

#loginbtn
{
	width:60%;
	margin-left: 15px;
}

#registerbtn
{
	width: 25%;
}

@media screen and (max-width:768px)
{
	#logindiv
	{
		width: 90%;
		margin-top: 50%;
	}
}