body
{
  font-family: Microsoft JhengHei;
}


#A_img
{
  position: absolute;
  top:-15%;
  left:42%;
  height: 100%;
}

#Adiv
{
  width:25vw;
  height:20vh;
  position: absolute;
  top:-15%;
  left:38%;
  text-align: center;
}

#Atext
{
  font-size: 72px;
  color: white;
  font-weight: 400;
  margin-top: 10%;
}

#A_arrow
{
  max-width: 100%;
  transform:rotate(270deg);
}

#A_arrow_div
{
  width: 70px;
  height:70px;
  margin: auto;
  position: absolute;
  left:2%;
  right:0;
  top:-55%;
  bottom:0;
}

#E_img
{
  position: absolute;
  top:-55%;
  left:40%;
}

#Ediv
{
  width:25vw;
  height:20vh;
  position: absolute;
  top:-50%;
  left:40%;
  text-align: center;
}

#Etext
{
  font-size: 55px;
  color: white;
  font-weight: 400;
  margin-top: 10%;
}

#E_arrow
{
  max-width: 100%;
  transform:rotate(-165deg);
}

#E_arrow_div
{
  width: 80px;
  height:80px;
  margin: auto;
  position: absolute;
  left:50%;
  right:0;
  top:-70%;
  bottom:0;
}

#mapdiv
{
  margin-top: 25%;
  text-align:center;
}

#map_img
{
  position: absolute;
  left:0%;
  top:0%;
  z-index:-5;
  height: 80%;
}
#head_img
{
  max-width: 55%;
  z-index: 99;
  position: absolute;
  left: 20%;
}

#B_arrow
{
  max-width: 100%;
  transform:rotate(-25deg);
}

#B_arrow_div
{
  width: 80px;
  height:80px;
  margin: auto;
  position:absolute;
  left:-70%;
  right:0;
  top:-70%;
  bottom:0;
}

#B_img
{
  position: absolute;
  top:-55%;
  left:-8%;
  height:70%;
}

#Bdiv
{
  width:25vw;
  height:20vh;
  position: absolute;
  top:4%;
  left:10%;
  text-align: center;
}
#Btext
{
  font-size: 72px;
  color: white;
  font-weight: 400;
  margin-top: 10%;
}

#D_arrow_div
{
  width:80px;
  height:80px;
  margin: auto;
  position: absolute;
  left:-18%;
  right: 0;
  top:-38%;
  bottom:0;
}

#D_arrow
{
  max-width: 100%;
  transform:rotate(135deg);
}

#C_arrow_div
{
  width: 80px;
  height:80px;
  margin: auto;
  position: absolute;
  left:0;
  right:-21%;
  top:-41%;
  bottom:0;
}

#C_arrow
{
  max-width: 100%;
  transform:rotate(45deg);
}

#D_img
{
  position: absolute;
  top:-20%;
  left:22%;
  z-index: -1;
  height: 100%;
}

#Ddiv
{
  width:25vw;
  height:20vh;
  position: absolute;
  top:-9%;
  left:13.5%;
  text-align: center;
}

#Dtext
{
  font-size: 72px;
  color: white;
  font-weight:400;
  margin-top: 10%;
}

#C_img
{
  position: absolute;
  top:-20%;
  right:20%;
  transform:rotate(0deg);
  height: 100%;
}

#Cdiv
{
  width:25vw;
  height:20vh;
  position: absolute;
  top:-11%;
  right:12%;
  text-align: center;
}

#Ctext
{
  font-size: 72px;
  color: white;
  font-weight: 400;
  margin-top: 10%;
}



.all_dis

{ 
  /*animation-delay:0.5s;*/
  animation-duration:3s;
  animation-name: all_dis;
  animation-fill-mode:forwards;
}

.all_show

{ 
  animation-delay:0.5s;
  animation-duration:1s;
  animation-name: all_show;
  animation-fill-mode:forwards;
}

.stamp
{ 
  opacity: 0;
  animation-delay:0.2s;
  animation-name: stamp;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  animation-iteration-count:1;
}

@keyframes all_dis{ /*全部畫面消失*/
    0%{
       
       opacity: 1;
       
      }
    25%
    {
     opacity: 0;
    }

   50%
    {
      opacity: 0;
    }
    100%{
        
        opacity: 1; 
      }
  }
@keyframes all_show{ /*全部畫面消失*/
    0%{
       
       opacity: 0;
       
      }
    100%{
        
        opacity: 1; 
      }
  }

@media screen and (min-width:1000px) and (max-width:1100px) and (min-height:500px) and (max-height:699px) {
   
  #C_img
  {
      right: 15%;
      top:-60%;
  }

  #D_img
  {
      left: 17%;
      top:-60%;
  }

  #E_img
  {
      left: 10%;
      top:-70%;
  }
  #B_img
  {
      left:0%;
      top:-70%;
  }
  
  #A_img
  {
      left:38%;
      
  }
  #E_arrow_div
  {
    left:40%;
    top:-100%;
  }
  
  #B_arrow_div
  {
    top:-100%;
  }
  #C_arrow_div
  {
    top:-280%;
  }
  #D_arrow_div
  {
    top:-280%;
  }
  #map_img
  {
    left:4%;
    top:-20%;
  }
  #head_img
  {
  top:5%;
  left:20%;
  }
  #Atext
  {
    font-size: 45px;
  }
  #Btext
  {
    font-size: 45px;
  }
  #Ctext
  {
    font-size: 45px;
  }
  #Dtext
  {
    font-size: 45px;
  }
  #Etext
  {
    font-size: 45px;
  }
   #Ediv
  {
    left:8%;
    top:-65%;
    
  }
  #Cdiv
  {
    right:16%;
    top:-50%;
  }
  #Ddiv
  {
    left:16%;
    top:-50%;
  }
  #Adiv
  {
    left:38%;
    top:-5%;
  }
  #Bdiv
  {
    left:-7%;
    top:-65%;
  }
}



@media screen and (min-width:1000px) and (max-width:1100px) and (min-height:600px) and (max-height:900px) {
   
  #C_img
  {
      right: 17%;
  }

  #D_img
  {
      left: 17%;
  }

  #E_img
  {
      left: 10%;
  }

  #A_img
  {
      left: 38%;
  }

  #E_arrow_div
  {
    left:40%;
  }
  #C_arrow_div
  {
    top:-280%;
  }

  #D_arrow_div
  {
    top:-280%;
  }

  #map_img
  {
    left:4%;
    top:-10%;
  }
  #head_img
  {
    top:15%;
    left:22%;
  }
  #Atext
  {
    font-size: 45px;
  }
  #Btext
  {
    font-size: 45px;
  }
  #Ctext
  {
    font-size: 45px;
  }
  #Dtext
  {
    font-size: 45px;
  }
  #Etext
  {
    font-size: 45px;
  }

  #Ediv
  {
    left:8%
  }
  #Cdiv
  {
    right:16%
  }
  #Ddiv
  {
    left:16%
  }
  #Adiv
  {
    left:38%;
    top:-5%;
  }
  #Bdiv
  {
    left:-3%;
    top:-66%;
  }
}

@keyframes stamp{  /*紅色point指標*/
        0%{
           opacity: 0;
           transform: scale(3);
          }
      
        100%
          {
            opacity: 1;
           transform: scale(1);
          }
  }
