body
{
  font-family: Microsoft JhengHei;
}
#UPdiv_1 
{
	width:100%;
	height:70px;
	margin: auto;
	position: absolute;
	left:25%;
	right: 0;
	bottom:55px;

}
 #UP_1
{
	width: 97px;
	/*margin-left: -115%;
	margin-top: 130%;*/
	margin-top: 50%;
  margin-left: -50%;
	max-width: 100%;
	height: 97px;
	transform:rotate(-35deg);
	/*opacity: 0;*/
}

#UP_block1
{	
	/*background-color: black;*/
	width:100%;
	height:17.5vh;
	margin: auto;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom:0;

	
}

#Mapdiv
{
/*	background-color: black;
*/	width: 22vw;
	height: 22vw;
	margin: auto;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom:0;
	border-radius: 50%;
	text-align:center;opacity: 0.8;
}

#UPdiv_1-2
{
	width:50%;
	height:70px;
	margin: auto;
	position: absolute;
	left:0;
	top:0px;
	bottom:300px;
	opacity: 0;
}
#click_point
{
	width:100%;
	height:50px;
	margin: auto;
	position: absolute;
	left:70%;
	bottom:0;
	transform:rotate(90deg);
	animation-name: updown;
	animation-duration:1s;
	animation-fill-mode:forwards;
	animation-iteration-count:infinite;
}
#home_btn
{
  position: absolute;
  z-index: 99;
  left:1%;
  top:1%;
  width: 5%;
}
#map_btn
{
  position: absolute;
  z-index: 99;
  left:7%;
  top:1%;
  width: 5%;
}
#arrow_div
{
  height: 36vh;
  width: 10%;
  float: left;
}
#backbtn
{
  width: 150%;
  transform:rotate(180deg);
  margin-top: 85%;
}
#UPdiv_2
{
  width:100%;
  height:70px;
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  bottom:0;
  top:0;
}

#map_img
{
  position: absolute;
  left:-12%;
  top:-3%;
  z-index:-1;
  width: 100%;
}

#Maptext
{
  font-size:50px;
  font-weight:600;
  color:white;
  z-index:99;
}

#UPdiv_2-1
{
  height: 36vh;
  width: 6%;
  position: relative;
  float: left;
}

#block1
{
  width:100%;
  height:17.5vh;
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  top:-8%;
  bottom:0;
}

#block_img
{
  position: absolute;
  top:-10px;
  left:10px;
  z-index: -1;
  width: 100%;
}

#B1text
{
  font-size:45px;
  font-weight: 600;
  color:white;
  z-index: 99;
}
#stamp1
{
  max-width: 65%;
  position: absolute;
  top:56%;
  right:-13%;
  opacity:0;
  transform:rotate(-5deg);
}
#B1text_div
{
  margin-top: 13%;
  text-align:center;
}
#pointdiv
{
  width:100%;
  height:70px;
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  bottom:0;
  top:0;
}
#UP_2-1
{

}
@media screen and (min-width:1000px) and (max-width:1100px) and (min-height:600px) and (max-height:800px) {
   #backbtn
   {
    margin-top: 106%;
   }
  #Maptext
  {
    font-size: 50px;
  }
  #B1text
  {
    font-size: 45px;
  }
  #B1text_div
  {
     margin-top: 13%;
  }
  #block1
  {
    top:-8%;
  }
  #pointdiv
  {
    top:14%;
    left:-36%;
  }
  #UP_2-1
  {
    margin-top: -25%;
  }
}