#home_btn
{
  position: absolute;
  z-index: 99;
  left:1%;
  top:1%;
  width: 5%;
}
#map_btn
{
  position: absolute;
  z-index: 99;
  left:7%;
  top:1%;
  width: 5%;
}
#UPdiv_1 
{
  width:100%;
  height:70px;
  margin: auto;
  position: absolute;
  left:25%;
  right: 0;
  bottom:-20%;

}
 #UP_1
{
  width: 97px;
  /*margin-left: -115%;
  margin-top: 130%;*/
  margin-top: 50%;
  margin-left: -50%;
  max-width: 100%;
  /*height: 97px;*/
  transform:rotate(-35deg);
  /*opacity: 0;*/
}
#click_point2
{
  width: 100%;
  margin-left: -41%;
  margin-top: 85%;
  transform:rotate(-35deg);
}

#block1
{
  margin-top: 50%;
  width:100%;
  height:17.5vh;
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  top:95%;
  bottom:0;
}

#B1text_div
{
  text-align:center;
  margin-top: 9%;
  width: 80%;
}

#B1text
{
  font-size:45px;
  font-weight: 600;
  color:white;
  margin-top: 20%;
  z-index:99;
}

#border1_img
{
  position: absolute;
  top:-10%;
  left:0;
  z-index:-1;
  width: 80%;
}

#stamp1
{
  max-width: 65%;
  position: absolute;
  top:-20%;
  left:-12%;
  transform:rotate(-5deg);
}
#backbtn
{
  width: 150%;
  transform:rotate(180deg);
  margin-top: 50%
}

#UPdiv_2
{
  width:100%;
  height:70px;
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  bottom:0;
  top:0;
}

#map_img
{
  position: absolute;
  left:-10%;
  top:-15%;
  z-index:-1;
  width: 100%;
}

#Maptext_div
{
  margin-top: 26%;
  text-align:center;
  margin-left: -10%;
}

#Maptext
{
  font-size:50px;
  font-weight: 600;
  color:white;
  margin-top: 20%;
  z-index:99;
}
#UPdiv_3
{
  width:100%;
  height:70px;
  margin: auto;
  position: absolute;right: 0;top:-41%;
}

#click_point4
{
  margin-left: 53%;
  margin-top:88%;
  top:22%;
  left:30%;
  width: 100%;
  position: absolute;
  transform:rotate(35deg);
}

#UP_2
{
  max-width: 100%;
  transform:rotate(35deg);
  position: absolute;
  left:-21%;
  top:-40%;
}

#block2
{
  width:100%;
  height:17.5vh;
  margin: auto;
  position: absolute;
  left:0;
  right:0;
  top:-130%;
  bottom:0;
}
#border2_img
{
  position: absolute;
  z-index:-1;
  width: 80%;
}

#stamp2
{
  max-width: 65%;
  position: absolute;
  left:-13%;
  top:-5%;
  transform:rotate(-5deg);
}

#B2text
{
  font-size:45px;
  font-weight: 600;
  color:white;
  margin-top: 15%;
  z-index:99;
}

#B2text_div
{
  margin-top: 14%;
  text-align:center;
  width: 80%;
}

@media screen and (min-width:1000px) and (max-width:1100px) and (min-height:600px) and (max-height:800px) {
   #backbtn
   {
    margin-top: 106%;
   }
   #map_img
   {
    left:-13%;
    top:3%;
   }
   #Maptext_div
   {
      margin-top: 43%;
   }
   #Maptext
   {
    font-size: 50px;
   }
   #B1text_div
   {
    width: 80%;
    margin-top: 7%;
   }
   #B1text
   {
    font-size: 45px;
   }
   #B2text
   {
    font-size: 45px;
   }
   #B2text_div
   {
    width: 80%;
    margin-top: 11%;
   }
   #UPdiv_1
   {
    bottom: -31%;
   }
   #UPdiv_2
   {
    bottom: -31%;
   }
   #stamp2
   {
    top:-10%;
   }
}