body
{
  font-family: Microsoft JhengHei;
}
#UPdiv_1 
{
	width:100%;
	height:70px;
	margin: auto;
	position: absolute;
	left:25%;
	right: 0;
	bottom:55px;

}
 #UP_1
{
	width: 97px;
	/*margin-left: -115%;
	margin-top: 130%;*/
	margin-top: 50%;
  margin-left: -50%;
	max-width: 100%;
	height: 97px;
	transform:rotate(-35deg);
	/*opacity: 0;*/
}

#UP_block1
{	
	/*background-color: black;*/
	width:100%;
	height:17.5vh;
	margin: auto;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom:0;

	
}

#Mapdiv
{
/*	background-color: black;
*/	width: 22vw;
	height: 22vw;
	margin: auto;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom:0;
	border-radius: 50%;
	text-align:center;opacity: 0.8;
}

#UPdiv_1-2
{
	width:50%;
	height:70px;
	margin: auto;
	position: absolute;
	left:0;
	top:0px;
	bottom:300px;
	opacity: 0;
}
#click_point
{
	width:100%;
	height:50px;
	margin: auto;
	position: absolute;
	left:70%;
	bottom:0;
	transform:rotate(90deg);
	animation-name: updown;
	animation-duration:1s;
	animation-fill-mode:forwards;
	animation-iteration-count:infinite;
}
/*#click_point2
{
	max-width: 100%;
	position: absolute;
	margin-left: -60%;
	margin-top: 100%;
	transform:rotate(-35deg);
}
#click_point3
{
	max-width: 80%;
	position: absolute;
	top:36%;

}
#click_point4
{
  max-width: 100%;
  position: absolute;
  top:36%;
  transform:rotate(35deg);
}*/
.arrow1
{
	animation-name: extend_right;
	animation-duration:1s;
	animation-fill-mode:forwards;
}
.arrow1-1
{
	animation-duration:1s;
	animation-name: extend_rightt;
	animation-fill-mode:forwards;
}
.block1
{
 	animation-delay:0.2s;
	animation-duration:2s;
	animation-name: amp;
	animation-fill-mode:forwards;
}

.arrow_show

{	
	animation-delay:1s;
	animation-duration:3s;
	animation-name: all_show;
	animation-fill-mode:forwards;
}

.all_dis

{	
	animation-delay:0.5s;
	animation-duration:3s;
	animation-name: all_dis;
	animation-fill-mode:forwards;
}

.all_show

{	
	animation-delay:0.5s;
	animation-duration:1s;
	animation-name: all_show;
	animation-fill-mode:forwards;
}
.click_point2
{
	animation-name: rightleft;
	animation-duration:2s;
	animation-fill-mode:forwards;
	animation-iteration-count:infinite;
}
.click_point3
{
  
  animation-name: rightleft2-1;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
}
.click_point4
{
  
  animation-name: rightleft3-1;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
}
.click_pointL2
{
  
  animation-name: L_map2-2-2;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
}
.click_pointD2
{
  
  animation-name: D_map2-2-2;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
}
.click_pointU1
{
  
  animation-name: U_map2-2-1;
  animation-duration:2s;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite;
}
.inteach
{
  
  animation-name: inteach;
  animation-duration:1s;
  animation-fill-mode:forwards;
  /*animation-iteration-count:infinite;*/
}
.stamp
{ 
  opacity: 0;
  animation-delay:0.2s;
  animation-name: stamp;
  animation-duration:0.8s;
  animation-fill-mode:forwards;
  animation-iteration-count:1;
}

@keyframes extend_right{  /*最上中間指標*/
    0%{
        width: 60px;
        margin-top: 130%;
        margin-left: -115%;
        opacity: 0;
      }
     
     
    100%{
        width: 97px;
         margin-top: 50%;
         margin-left: -50%;
         opacity: 1;
      }
  }

@keyframes extend_rightt{  /*最上最右指標*/
    0%{
        /*width: 60px;*/
        opacity: 1;
        left:0px;
     }
      /* 12.5% ~ 93.75% 請看範例原始碼 */
    100%{
         /*width: 150px;*/
         opacity: 1;
        left:150px;
      }
  }
@keyframes all_dis{ /*全部畫面消失*/
    0%{
       
       opacity: 1;
       
      }
    25%
    {
     opacity: 0;
    }

   50%
   	{
   	  opacity: 0;
   	}
    100%{
        
        opacity: 1; 
      }
  }
@keyframes all_show{ /*全部畫面消失*/
    0%{
       
       opacity: 0;
       
      }
    100%{
        
        opacity: 1; 
      }
  }

@keyframes amp{  /*中間黑色選單*/
        0%{
               	opacity: 0;
            }
     		10%
     		{
     			opacity: 1;
     		}
     		25%
     		{
     			transform: scale(0.9);
                
     		}
            50%{
                transform: scale(1);
                opacity: 1;
            }
      
         	75%
         	{
         		transform: scale(0.9);
                opacity: 1;
         	}
            100%
            {
            	 transform: scale(1);
            	 opacity: 1;
            }
  }

@keyframes updown{  /*紅色point指標*/
        0%{
               bottom:0;
          }
        25%
          {
          	bottom:-20px;
          }
        50%
          {
        	bottom:0px;
          }
        75%
          {
        	bottom:-20px;
          }
        100%
          {
            bottom:0px;
          }
  }
@keyframes rightleft{  /*紅色point指標*/
        0%{
            margin-left: -60%;
            margin-top: 100%;
          }
        25%
          {
          	margin-left:-40%;
            margin-top:80%;
          }
        50%
          {
        	margin-left: -60%;
        	margin-top: 100%;
          }
        75%
          {
        	 margin-left:-40%;
            margin-top:80%;
          }
        100%
          {
            margin-left: -60%;
            margin-top: 100%;
          }
  }

@keyframes rightleft2-1{  /*紅色point指標*/
        0%{
            margin-left: 0%;
            
          }
        25%
          {
            margin-left:15%;
         
          }
        50%
          {
          margin-left: 0%;
        
          }
        75%
          {
          margin-left:15%;
          
          }
        100%
          {
            margin-left: 0%;
          
          }
  }
@keyframes rightleft3-1{  /*紅色point指標*/
        0%{
             margin-left: -60%;
            margin-top: -50%;
          }
        25%
          {
             margin-left: -30%;
            margin-top: -20%;
         
          }
        50%
          {
            margin-left: -60%;
            margin-top: -50%;
        
          }
        75%
          {
           margin-left: -30%;
            margin-top: -20%;
          
          }
        100%
          {
            margin-left: -60%;
            margin-top: -50%;
          }
  }
@keyframes L_map2-2-2{  /*紅色point指標*/
        0%{
             margin-left:0%;
            margin-top: -20%;
          }
        25%
          {
             margin-left: -20%;
            margin-top: 0%;
         
          }
        50%
          {
            margin-left:0%;
            margin-top: -20%;
        
          }
        75%
          {
          margin-left: -20%;
            margin-top: 0%;
          
          }
        100%
          {
           margin-left:0%;
            margin-top: -20%;
          }
  }
@keyframes D_map2-2-2{  /*紅色point指標*/
        0%{
             margin-left:0%;
             margin-top: 0%;
          }
        25%
          {
             margin-left:20%;
            margin-top: 20%;
         
          }
        50%
          {
            margin-left:0%;
            margin-top: 0%;
        
          }
        75%
          {
          margin-left: 20%;
            margin-top: 20%;
          
          }
        100%
          {
           margin-left:0%;
            margin-top:0%;
          }
  }
@keyframes U_map2-2-1{  /*紅色point指標*/
        0%{
            
             margin-top: 0%;
          }
        25%
          {
          
            margin-top: 20%;
         
          }
        50%
          {
          
            margin-top: 0%;
        
          }
        75%
          {
            margin-top: 20%;
          
          }
        100%
          {
            margin-top:0%;
          }
  }
@keyframes stamp{  /*紅色point指標*/
        0%{
           opacity: 0;
           transform: scale(3);
          }
      
        100%
          {
            opacity: 1;
           transform: scale(1);
          }
  }

@keyframes inteach{  /*紅色point指標*/
        0%{
           opacity: 1;
           transform: scale(1);
          }
      
        100%
          {
            opacity: 0;
           transform: scale(1.5);
          }
  }
