body
{
  font-family: Microsoft JhengHei;
}

#UPdiv_1 
{
  width:50%;
  height:70px;
  margin: auto;
  position: absolute;
  left:0;
  top:78%;
  bottom:120px;

}


#UP_block1
{	
	width:100%;
	height:17.5vh;
	margin: auto;
	position: absolute;
	left:0;
	right: 0;
	top:32%;
	bottom:0;

	
}

#Mapdiv
{
	/*background-color: black;*/
	width: 22vw;
	height: 22vw;
	margin: auto;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom:0;
	border-radius: 50%;
	text-align:center;opacity: 0.8;
}

#UPdiv_1-2
{
	width:50%;
	height:70px;
	margin: auto;
	position: absolute;
	left:0;
	top:0px;
	bottom:300px;
	/*opacity: 0;*/
}
#click_point
{
	width:100%;
	height:50px;
	margin: auto;
	position: absolute;
  z-index: 99;
	left:50%;
	bottom:0;
	transform:rotate(90deg);
	animation-name: updown;
	animation-duration:1s;
	animation-fill-mode:forwards;
	animation-iteration-count:infinite;
}
#click_point2
{
	max-width: 100%;
	position: absolute;
	margin-left: -60%;
	margin-top: 100%;
  width: 100%;
  position: absolute;
  top:-80%;
  left:-15%;
  transform:rotate(0deg);
}
#click_point3
{
	max-width: 80%;
	position: absolute;
	top:-70%;
  left:-13%;
  transform:rotate(35deg);
}
#click_point4
{
  max-width: 80%;
  position: absolute;
  top:40%;
  left:-2%;
}
#UP_2-2
{
  max-width: 100%;
  position: absolute;
  top:123%;
}

#home_btn
{
  position: absolute;
  z-index: 99;
  left:1%;
  top:1%;
  width: 5%;
}
#map_btn
{
  position: absolute;
  z-index: 99;
  left:7%;
  top:1%;
  width: 5%;
}
#click_point1
{
  width: 100%;
  position: absolute;
  top:100%;
  left:-40%;
  transform:rotate(-45deg);
}
#UP_1
{
  width: 100%;
  position: absolute;
  top:90%;
  left:-10%;
  transform:rotate(-45deg);
}
#border1_img
{
  position: absolute;
  top:0;
  left:0;
}
#stamp1
{
  max-width: 65%;
  position: absolute;
  top:-35%;
  left:-12%;
  transform:rotate(-5deg);
}
#B1text
{
  font-size: 45px;
  color: white;
  font-weight: 400;
  margin-top: 13%;
}
#B1div
{
  width:25vw;
  height:20vh;
  position: absolute;
  top:4%;
  right:13%;
  text-align: center;
}

#backbtn
{
  width: 150%;
  transform:rotate(180deg);
  margin-top: 78%;
}
#B0text
{
  font-size: 50px;
  color: white;
  font-weight: 400;
  margin-top: 18%;
}
#B0div
{
  width:20vw;
  height:20vh;
  position: absolute;
  top:16%;
  right:16%;
  text-align: center;
}
#map_img
{
  position: absolute;
  left:-17%;
  top:-7%;
  z-index: -1;
}

#UPdiv_2-1
{
  height: 36vh;
  width: 6%;
  position: relative;
  float: left;
}

#UP_2
{
  max-width: 100%;
}

#UP_block2
{
  width:100%;
  height:17.5vh;
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  top:-20%;
  bottom:0;
}
#border2_img
{
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}
#stamp2
{
  max-width: 65%;
  position: absolute;
  top:-35%;
  left:-12%;
  transform:rotate(-5deg);
}
#B2text
{
  font-size: 45px;
  color: white;
  font-weight: 400;
  margin-top: 13%;
}
#B2div
{
  width:25vw;
  height:20vh;
  position: absolute;
  top:4%;
  right:13%;
  text-align: center;
}

#UPdiv_2
{
  width:50%;
  height:70px;
  margin: auto;
  position: absolute;
  left:0;
  top:6%;
}
#UP_3
{
  max-width: 100%;
  transform:rotate(35deg);
  position:absolute;top:-50%;
}

#UP_block3
{
  width:100%;
  height:17.5vh;
  margin: auto;
  position: absolute;
  left:0;
  right: 0;
  top:-62%;
  bottom:0;
}

#border3_img
{
  position: absolute;
  top:-10%;
  left:0;
  z-index: -1;
}
#stamp3
{
  max-width: 65%;
  position: absolute;
  top:-45%;
  left:-12%;
  transform:rotate(-5deg);
}
#B3div
{
  width:25vw;
  height:20vh;
  position: absolute;
  top:-6%;
  right:13%;
  text-align: center;
}
#B3text
{
  font-size: 45px;
  color: white;
  font-weight: 400;
  margin-top: 13%;
}

#UPdiv_3
{
  width:50%;
  height:70px;
  margin: auto;
  position: absolute;
  left:0;
  top:4%;
}
#UP_3-1
{
  max-width: 100%;
  transform:rotate(0deg)
}

.col-md-2
{
  float: left;
}


@media screen and (min-width:1000px) and (max-width:1100px) and (min-height:600px) and (max-height:800px) {
   #backbtn
   {
    margin-top: 98%;
   }
  #UP_3
  {
    top: -95%;
    left: -20%;
  }
  #UP_block3
  {
    top: -48%;
  }
  #UP_block1
  {
    top: 20%;
  }
  #UP_block2
  {
    top:-13%;
  }
  #B1text
  {
    font-size: 45px;
    margin-top: 9%;
  }
  #B2text
  {
    font-size: 45px;
    margin-top: 9%;
  }
  #B3text
  {
    font-size: 45px;
    margin-top: 9%;
  }
  #B0text
  {
    font-size: 50px;
    margin-top: 12%;
  }
}