
.disapear
{
	display: none;
}

.conversation{
	animation: type 2s steps(10);
	overflow:hidden;
	white-space: nowrap;
	/*animation-delay:0.2s;*/
	font-family: Microsoft JhengHei;
	/*border-right: 4px solid white;*/
}

.endconversation{
	animation: fadein 2s;
	overflow:hidden;
	font-family: Microsoft JhengHei;
}

.bgg{
	animation: outT 1s ;
  
  animation-fill-mode:forwards;

}
#btnA
{
	font-size: 32px;
	border-radius:20px;
	margin-left:3%;
	margin-top: 5%;
	height:70px;
	background-color:rgb(0,0,0,0.7);
	border:4px solid peachpuff;
}
#btnB
{
	font-size: 32px;
	border-radius:20px;
	margin-left:2%;
	margin-top: 2%;
	height:70px;
	background-color:rgb(0,0,0,0.7);
	border:4px solid peachpuff;
}
#btnC
{
	font-size: 32px;
	border-radius:20px;
	margin-left:2%;
	margin-top: 2%;
	height:70px;
	background-color:rgb(0,0,0,0.7);
	border:4px solid peachpuff;
}
#btnD
{
	font-size: 32px;
	border-radius:20px;
	margin-left:2%;
	margin-top: 2%;
	height:70px;
	background-color:rgb(0,0,0,0.7);
	border:4px solid peachpuff;
}
#btnE
{
	font-size: 32px;
	border-radius:20px;
	margin-left:2%;
	margin-top: 2%;
	height:70px;
	background-color:rgb(0,0,0,0.7);
	border:4px solid peachpuff;
}
@keyframes type{
	0%{
		width: 0ch;
	}
	50%
	{
		width: 17ch;
	}
	100%{
		width: 35ch;
	}
}

@keyframes outT{
	0%
	{
		opacity:1;
	}
	50%
	{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@keyframes fadein{
	0%
	{
		opacity:0;
	}
	
	100%{
		opacity:1;
	}
}