.checked {
    color: orange;
  }
 body{
 	font-family: Microsoft JhengHei;
 	
 }
 .row{
 	margin:0;
 	padding: 0;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	min-height: 80vh;
 }
 .card{
 	position: relative;
 	background: #fff;
 	height: 600px;
 	width: 450px;
 	margin:0 auto;
 	border: 2px solid #ddd;
 	box-shadow: 
       inset 0 -1em 1em rgba(0,0,0,0.1), 
             /*0 0  0 2px rgb(255,255,255),*/
             0.2em 0.2em 1em rgba(0,0,0,0.3);
 }
 .card .content{
 	widows: 350px;
 	padding: 30px;
 	box-sizing: border-box;
 }
 .card .slidertext{
 	position: relative;
 	width: 100%;
 	height: 400px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	background: #F7F7F7;
 	/*border: 5px solid #000;*/
 	font-size:20px;
 }
.card .content a{
	display: inline-block;
	margin:10px 0 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 2px solid #000;
	color:#262626;
}
.margin20{
	margin-top:10px;
}
.title{
	font-size:22px;
	width: 100%;
	display: inline-block;
	padding: 20px 25px;
	box-shadow: 
       inset 0 -.2em 0.2em rgba(0,0,0,0.1), 
             /*0 0  0 2px rgb(255,255,255),*/
             0.1em 0.1em 0.2em rgba(0,0,0,0.3);
	font-weight: bold;
	color:#262626;
}
.title .text{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}