<!DOCTYPE html>
<html>
<head>
	<title>心智圖</title>
	<link rel="stylesheet" type="text/css" href="plugin/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./style/common.css">
	<link rel="stylesheet" type="text/css" href="./style/animate2.css">
	<link rel="stylesheet" type="text/css" href="./style/loading.css">
</head>
<body style="width:95%;height: 95%;margin-left: 2%">
	<!-- <h1 id="load">loading...</h1> -->
<div id="load">
<div id="loading">
<div id="loading-center">
<div id="loading-center-absolute">
<span class="loadingtext">loading</span>
<div class="object" id="object_one"></div>
<div class="object" id="object_two"></div>
<div class="object" id="object_three"></div>

</div>
</div>
 
</div>

</div>
	<div style="background-image: url('./pic/background2.png');height: 100vh;opacity:0;background-size: 100%;" class="container-fuild" id="bg">
	<div class="container-fuild" id="all">
	<img src='./pic/home_btn.png' style="position: absolute;z-index: 99;right:1%;top:1%;width:5%" onclick="window.location.href='./test?param1=F4B'" id="home_btn"></img>
	<img src='./pic/map_btn4.png' style="position: absolute;z-index: 99;right:7%;top:1%;width:5%" id="map_btn"></img>
	<div style="position: absolute;right:26%;top: 26%;font-size: 43px;font-weight: 900;color: lightslategray;width:17%;text-align: center;">
	<span>(<span id="drugname"></span>)</span>
	</div>
		<div class="row" style="height:10vh;position: relative;">
		<img src="./pic/diamond1.png" style="max-height: 150%;position: absolute;left:46%;transform:rotate(270deg)" id="backbtn">
		</div>
		<div class="row" style="height:8vh;position: relative;">
			<div style="width:8vh;height:8vh;margin: auto;position: absolute;left:0;top:0px;bottom:0px;right: 0">
				
			</div>
		</div>
		<div class="row" style="height:30vh;position: relative;">
			<img src="./pic/circle2.png" style="position: absolute;left:39%;top:-15%;max-height: 100%;z-index:-1;">
			<div style="margin-top: 5%;text-align:center;margin-left: 3%">
				<p style="font-size:50px;font-weight: 600;color:white;z-index:99;margin-left:-1.8%" id="Maptext">1-1</p>
			</div>
		</div>
		<div class="row" style="height:8vh;position: relative;">
			<div class="col-md-4" style="height:8vh"></div>
			<div class="col-md-4" style="height:8vh;margin-top:-2%">
				<div style="width:10vh;height:10vh;margin: auto;position: absolute;left:-85%;top:0px;bottom:0px;right: 0">
					<img src="./pic/diamond1.png" style="max-width: 100%;transform:rotate(135deg);margin-top: 0;margin-left: 0;" id="UP_1">
					<img src="./pic/arrow.png" id="click_point1" style="width: 100%;transform:rotate(135deg);position: absolute;left:3%;top:27%" class="click_pointL2">
				</div>
				<div style="width:10vh;height:10vh;margin: auto;position: absolute;left:10%;top:25px;bottom:0px;right: 0">
					<img src="./pic/diamond1.png" style="max-width: 100%;transform:rotate(90deg)"  id="UP_2">
					<img src="./pic/arrow.png" id="click_point2" style="width: 100%;transform:rotate(90deg);position: absolute;left:-10%;top:27%" class="click_pointU1">
				</div>
				<div style="width:10vh;height:10vh;margin: auto;position: absolute;left:90%;top:-5%;bottom:0px;right: 0">
					<img src="./pic/diamond1.png" style="max-width: 100%;transform:rotate(45deg);" id="UP_3">
					<img src="./pic/arrow.png" id="click_point3" style="width: 100%;transform:rotate(45deg);position: absolute;left:3%;top:27%" class="click_pointD2">
				</div>
			</div>
			<div class="col-md-4" style="height:8vh"></div>
		</div>
		<div class="row" style="height:25vh;position: relative;">
			<div class="col-md-4" style="height:25vh">
				<div style="width:85%;height:17.5vh;margin: auto;position: absolute;left:19%;right: 0;top:0%;bottom:0;"  id="block1">
				<img src="./pic/border.png" width="85%" style="position: absolute;top:-10px;left:10px;z-index: -1;" id="border1_img">
				<img src="./pic/complete.png" style="max-width: 56%;position: absolute;top:-20%;transform:rotate(-5deg);" id="stamp1">
				<div style="margin-top: 10%;text-align:center;margin-left: -8%"><span style="font-size:45px;font-weight: 600;color:white;margin-top: 20%;z-index: 99;" id="B1text">3</span></div>
			</div>
			</div>
			<div class="col-md-4" style="height:25vh">
				<div style="width:85%;height:17.5vh;margin: auto;position: absolute;left:14%;right: 0;top:0%;bottom:0;"  id="block2">
				<img src="./pic/border.png" width="85%" style="position: absolute;top:-10px;z-index: -1;" id="border2_img">
				<img src="./pic/complete.png" style="max-width: 56%;position: absolute;top:-20%;left:-12%;transform:rotate(-5deg);" id="stamp2">
				<div style="margin-top: 10%;text-align:center;margin-left: -8%"><span style="font-size:45px;font-weight: 600;color:white;margin-top: 20%;z-index: 99;" id="B2text">3</span></div>
			</div>
			</div>
			<div class="col-md-4" style="height:25vh">
				<div style="width:85%;height:17.5vh;margin: auto;position: absolute;left:8%;right: 0;top:0%;bottom:0;"  id="block3">
				<img src="./pic/border.png" width="85%" style="position: absolute;top:-10px;z-index: -1;" id="border3_img">
				<img src="./pic/complete.png" style="max-width: 56%;position: absolute;top:-20%;left:-12%;transform:rotate(-5deg);" id="stamp3">
				<div style="margin-top: 10%;text-align:center;margin-left: -8%">
					<span style="font-size:45px;font-weight: 600;color:white;margin-top: 20%;z-index: 99;" id="B3text"></span>
				</div>
			</div>
			</div>
		</div>
		<div class="row" style="height:20vh;position: relative;">
		</div>
	</div>
</body>
	
<script src="plugin/jquery/jquery.min.js"></script>
<!-- <script src="script/mindmap.js"></script> -->
<script src="script/layers3.js"></script>
<script src="plugin/bootstrap/js/bootstrap.min.js"></script>
</html>